
%h1 Listing Cities
%table.table.table-striped
  %thead.thead-dark
    %tr
      %th{scope: "col"} City name
      %th Mayor
      %th= link_to 'Population', cities_path(:sort => 'population')
      %th By Sea
      %th= link_to 'Country', cities_path(:sort => 'country_name')
      %th{colspan: "3"}
  %tbody
    - @cities.each do |city|
      %tr
        %td= city.city_name
        %td= city.mayor
        %td= city.population
        %td= city.isCostal
        %td= city.country.country_name
        %td= link_to 'Show City Details', city
        %td= link_to 'Delete', city, method: :delete, data: { confirm: 'Are you sure?' }
%p
= link_to 'Add new City', new_city_path,:class => 'btn btn-primary'
%p