%p
%p
  %strong City name:
  = @city.city_name
%p
  %strong Mayor:
  = @city.mayor
%p
  %strong Population:
  = @city.population
%p
  %strong By Sea:
  = @city.isCostal
%p
  %strong Country:
  = @city.country.country_name

%p
= link_to 'Back', cities_path,:class => 'btn btn-primary'

= link_to 'Edit', edit_city_path,:class => 'btn btn-primary'

= link_to 'Find Cities In Same Country', find_country_path,:class => 'btn btn-primary'