%p
%p
  %strong City name:
  = @city_country[0].city_name
%p
  %strong Mayor:
  = @city_country[0].mayor
%p
  %strong Population:
  = @city_country[0].population
%p
  %strong By Sea:
  = @city_country[0].isCostal
%p
  %strong Country:
  = @city_country[0].country.country_name

%p
= link_to 'Back', cities_path,:class => 'btn btn-primary'

= link_to 'Edit', edit_city_path,:class => 'btn btn-primary'

= link_to 'Find Cities In Same Country', find_country_path,:class => 'btn btn-primary'